*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to left, rgb(182, 182, 209),rgb(255, 255, 255));
    margin: 10px;
    min-height: 100vh;
}


h1 {
    text-align: center;
    background: linear-gradient (blue) rgb(201, 196, 196);
    text-shadow: 10px;
}

.perfil {
max-width: 200px;
border: 5px solid beige;
border-radius: 30px;
box-shadow: 20px solid ;
}
h2 {
    color: rgb(86, 22, 235);
}
h3 {
    color: rgb(255, 0, 21);
}

input[type ="text"], input[type="email."] {
min-width: 100px;
min-height: 30px;
border-radius:10px;
border: 2px;
}

input[type="text"]:hover, input[type="email"]:hover {
    border: 5px rgb(2, 2, 13) solid;
    box-shadow: 5px rgb(255, 208, 0);
}
a:hover {
    text-shadow: 5px 5px 10px;
}
.button  {
   background-color: rgb(72, 254, 0);
   color: rgb(12, 12, 12);
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;margin: 4px 2px; 
   cursor: pointer;
   border-radius: 5px;
   box-shadow: 2px;

}
.button:hover{
    border: rgb(10, 9, 9) 2px solid;
    box-shadow: 5px 5px 5px rgb(23, 11, 11);
    font-size: 20px;
    color: red;
}

table {
     border-collapse: collapse;
     background:white ;
      width: 100%;
     }

 td, th {
     border:  1px solid black;
     text-align: left;
     padding: 8px;
     }

     /*estilo de principal HtMl*/

     .header{
         background: yellow;
         border-radius: 10px;
         text-align: center;
         padding: 1rem;
         grid-area: "header";
    
     }

     .nav{
        background: cadetblue;
        border-radius: 5px;
        text-align: center;
        grid-area: "nav";
     }

     .main{
        background: pink;
        text-align: center;
        padding:  1rem;
        border-radius: 5px;
        grid-area: "main";

     }

     .aside{
        background: rgb(90, 58, 90);
        text-align: center;
        padding: 1rem;
        border-radius: 5px;
        grid-area: "aside";


     }

     .footer{
        background: rgb(146, 213, 146);
        border-radius: 5px;
        padding: 1rem;
        text-align: center;
        grid-area: "footer";
    
     }
     /*CSS grid*/
     .page{
        display: grid;
        gap: 2px;
        grid-template: 
        "header" 100px
        "nav" 50px
        "main" auto
        "inside" 100px
        "footer" 50px / auto;

     @media (min-width:768){
        grid-template: 
        "header header  header " 100px
        "nav  nav  nav  " 50px
        "main   main   inside" auto
        100px
        "footer  footer  footer " 50px / auto auto 40px;
     }
     @media(min-width:  1024px){
        grid-template: 
        "header    header   header   header  header " 100px
        "nav" 50px
        "main" auto
        "inside" 100px
        "footer" 50px / auto;

     }
    
    }
     

    -

